body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 100px;
  background-color: #919299;
  max-width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.column-left{ 
  float: left; 
  width: 33.333%; 
}

.column-right{ 
  float: right; 
  width: 33.333%; 
}

.column-center{ 
  display: inline-block; 
  width: 33.333%; 
}